<html>
<head>
    <title>Signup</title>
</head>
<body>
    <form onsubmit="return regFormValidate()"> 
            Employee Name: <input type="text" name="name" value="" /> <br>
            Company Name: <input type="text" name="companyname" value="" /> <br>
            Contact No: <input type="text" name="contactno" value="" /> <br>
            Username: <input type="text" name="username" value="" /> <br>
            Password: <input type="password" name="password" value="" /><br>
            <input type="submit" name="submit" value="Submit" />
    </form>

    <script src="../asset/js/reg.js"></script>
</body>
</html>
