<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Employee</title>
</head>
<body>
    <h1>Search User by Name</h1>
    <br>
    <form action="">
        Employee Username: <input type="text" name="searchusername" value="" onkeypress="searchAjax()"> <br> <br>
        Search Result: <br>
        <label for="name">Name:</label> <br>
        <input type="text" name="name" value="" readonly> <br>
        <label for="companyname">Company Name:</label> <br>
        <input type="text" name="companyname" value="" readonly> <br>
        <label for="contactno">Contact No:</label><br>
        <input type="text" name="contactno" value="" readonly> <br>
        <label for="username">Username:</label><br>
        <input type="text" name="username" value="" readonly> <br>
        <label for="password">Password:</label><br>
        <input type="text" name="password" value="" readonly> <br>
    </form>
    <script src="../asset/js/search.js"></script>
</body>
</html>